<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DIY Share</title>
    <link rel="stylesheet" href="/css/style.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>DIY Share</h1>
        <p>a place for your projects</p>
      </a>
      <nav>
        <ul>
          <% if(locals.isLoggedIn) { %>
            <li><a href="/logout">Logout</a></li>
            <li><a href="posts/short/new">+ Add Project</a></li>
          <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <main>
      <% for(const type in messages) { %>
        <div class="callout <%= type %>">
          <h5><%= messages[type] %></h5>
        </div>
      <% } %>

      <%- body %>
    </main>
  </body>
</html>
