<h2>Login</h2>
<form method="POST" action="/login">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required minlength="19">
  </div>
  <button class="button">Login</button>
</form>
