// import scss partials here
@import "variables";


body {
  font-family: $font-plain;
}

header {
  // background: linear-gradient(to left, #acb6e540, #74ebd542);
  // background: #acb6e540;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}

.h1-container {
  text-align: center;
  color: #847E93;
}

.h1-container:hover {
  color: #847E93;
}

.h1-container p {
  margin-top: -7px;
}




h1 {
  font-family: $font-decoration;
  margin-bottom: 0;
  padding-top: 14px;
}

nav {
  border-bottom: 1px solid silver;
  margin-bottom: 15px;
}

.nav-link {
  color: #847E93;
  font-family: $font-plain;
}

.nav-link:hover {
  // color: #7870c7;
  // color: #a64f9d;
  color:  #364745;
}



.index {
  list-style-type: none;
}

.index li {
  margin-bottom: 15px;

}

.index h5 {
  font-family: $font-decoration;
  // color: #4f4d55;
  // color: #4492D2;
  // color: #029c95;
  color: #364745;
  letter-spacing: 0.3pt;
  text-align: center;
}

.index h5:hover {
  color:#847E93;
}

.card {
  // border: 2px solid red;
  padding: 2px;
}

.comments-num {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}
