// import scss partials here
@import "variables";


body {
  font-family: $font-plain;
}

header {
  // background: linear-gradient(to left, #acb6e540, #74ebd542);
  // background: linear-gradient(to left, rgba(172,185,229,0.25), rgba(116,235,213,0.26));
  // background: #acb6e540;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}

.h1-container {
  text-align: center;
  color: $color-dreamy;
}

.h1-container:hover {
  color: $color-dreamy;
}

.h1-container p {
  margin-top: -7px;
}

h1 {
  font-family: $font-decoration;
  margin-bottom: 0;
  padding-top: 14px;

  background: -webkit-linear-gradient(#757F9A, #D7DDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  border-top: 1px dashed rgba(0,0,0,.125);
  margin-bottom: 15px;
}

.nav-link {
  color: $color-dreamy;
  font-family: $font-plain;
}

.nav-link:hover {
  // color: #7870c7;
  // color: #a64f9d;
  color:  #364745;
}



.index {
  list-style-type: none;
  padding-left: 0;
}

.index li {
  margin-bottom: 15px;
}

.index h5 {
  font-family: $font-decoration;
  // color: #4f4d55;
  // color: #4492D2;
  // color: #029c95;
  // color: #364745;
  letter-spacing: 0.3pt;
  text-align: center;
}



.index a {
  color: #364745;
  opacity: 0.85;
}

.index a:hover {
  color:black;
}

.card {
  // border: 2px solid red;
  padding: 2px;
}

div.card-img-top {
  height: 300px;
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}

.comments-num {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.show {
  max-width: 790px;
}

.show h3 {
  font-family: $font-decoration;
}

.show .caption {
  font-family: $font-decoration;
  margin-top: 7px;
  margin-bottom: 21px;
}

.show-post {
  padding: 20px 30px 20px 30px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  min-width: 100%;
}

.picture-wrapper {
  text-align: center;
}

.picture-wrapper img {
  border-radius: .25rem;
}

.show .post-manager {
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-top: 14px;
  padding-bottom: 14px;
}


.show .post-manager ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.show .post-manager ul li {
  display: inline-block;
}

.show h5 {
  text-align: center;
}

.show textarea {
  margin-bottom: 14px;
}

textarea {
  height: 150px;
}

.form {
  max-width: 490px;
  margin: auto;
}

.form h5,
.show h5 {
  font-family: $font-decoration;
  color: #B4B3B4;
  letter-spacing: 0.3pt;

}

.comment {
  margin-top: 14px;
  padding: 14px 14px 0 14px;
}

.comment small {
  font-family: $font-decoration;
  letter-spacing: 0.3pt;
  color:$color-dreamy;
}

.delete-comment {
  display: block;
  margin: auto;
}

.send-comment {
  margin-top: 14px;
}

.send-comment button {
  display: block;
  margin: auto;
}

.pictures-form {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 14px 14px 0 14px;
}

.add-picture-button-container {
  text-align: center;
}

.pictures-container {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.pictures-container li {
  display: inline-block;
}

.pic-wrap {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
}

.pre-view-caption {
  clear: both;
  display: block;
}

.pictures-container img {
  border-radius: .25rem;
}

.deletePicture {
  float: right;
}

.new-short-post button,
.edit-short-post button {
  display: block;
  margin: 14px auto;
}

.registration h5,
.edit-short-post h5,
.new-short-post h5 {
  text-align: center;
}

.registration button,
.login button {
  display: block;
  margin: auto;
}
