// import scss partials here
@import "variables";

body {
  font-family: $font-plain;
  padding-bottom: 16px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.h1-container {
  text-align: center;
  color: $color-dreamy;
  &:hover {
    color: $color-dreamy;
  }
}

.h1-container p {
  margin-top: -7px;
}

h1 {
  font-family: $font-decoration;
  margin-bottom: 0;
  padding-top: 14px;

  background: -webkit-linear-gradient(#757F9A, #D7DDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  border-top: 1px dashed $color-border;
  margin-bottom: 15px;
}

.nav-link {
  color: $color-dreamy;
  font-family: $font-plain;
  &:hover {
    color:  $color-dark;
  }
}

.index {
  list-style-type: none;
  padding-left: 0;
  & li {
    margin-bottom: 15px;
  }
  & h5 {
    font-family: $font-decoration;
    letter-spacing: 0.3pt;
    text-align: center;
  }
  & a {
    color: $color-dark;
    opacity: 0.85;
    &:hover {
      color:black;
    }
  }
}

.card {
  padding: 2px;
}

div.card-img-top {
  height: 300px;
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}

.comments-num {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.show {
  max-width: 790px;
  & h3 {
    font-family: $font-decoration;
  }
  .caption {
    font-family: $font-decoration;
    margin-top: 7px;
    margin-bottom: 21px;
  }
  & h5 {
    text-align: center;
  }
}

.show-post {
  padding: 20px 30px 20px 30px;
  border: 1px solid $color-border;
  border-radius: .25rem;
  min-width: 100%;
}

.picture-wrapper {
  text-align: center;
  & img {
    border-radius: .25rem;
  }
}

.show .post-manager {
  border-top: 1px dashed $color-border;
  border-bottom: 1px dashed $color-border;
  padding-top: 14px;
  padding-bottom: 14px;
  & ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    & li {
      display: inline-block;
    }
  }
}

.show textarea {
  margin-bottom: 14px;
}

textarea {
  height: 150px;
}

.form {
  max-width: 490px;
  margin: auto;
}

.form h5,
.show h5 {
  font-family: $font-decoration;
  color: #B4B3B4;
  letter-spacing: 0.3pt;
}

.comment {
  margin-top: 14px;
  padding: 14px 14px 0 14px;
  & small {
    font-family: $font-decoration;
    letter-spacing: 0.3pt;
    color:$color-dreamy;
    font-size: 90%;
  }
}

.delete-comment {
  display: block;
  margin: auto;
}

.send-comment {
  margin-top: 14px;
  & button {
    display: block;
    margin: auto;
  }
}

.pictures-form {
  border: 1px solid $color-border;
  border-radius: .25rem;
  padding: 14px 14px 0 14px;
}

.add-picture-button-container {
  text-align: center;
}

// to prevent overpowering the basic btn-outline-secondary style
html [type=button] {
    -webkit-appearance: none;
}

.pictures-container {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  & li {
    display: inline-block;
  }
}

.pic-wrap {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
}

.pre-view-caption {
  clear: both;
  display: block;
}

.pictures-container img {
  border-radius: .25rem;
}

.deletePicture {
  float: right;
}

.new-short-post button,
.edit-short-post button {
  display: block;
  margin: 14px auto;
}

.registration h5,
.edit-short-post h5,
.new-short-post h5 {
  text-align: center;
}

.registration button,
.login button {
  display: block;
  margin: auto;
}
