// import scss partials here
@import "variables";


body {
  font-family: $font-plain;
}

header {
  // background: linear-gradient(to left, #acb6e540, #74ebd542);
  // background: #acb6e540;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}

.h1-container {
  text-align: center;
  color: $color-dreamy;
}

.h1-container:hover {
  color: $color-dreamy;
}

.h1-container p {
  margin-top: -7px;
}


h1 {
  font-family: $font-decoration;
  margin-bottom: 0;
  padding-top: 14px;
}

nav {
  // border-bottom: 1px solid silver;
  border-top: 1px solid silver;
  margin-bottom: 15px;
}

.nav-link {
  color: $color-dreamy;
  font-family: $font-plain;
}

.nav-link:hover {
  // color: #7870c7;
  // color: #a64f9d;
  color:  #364745;
}



.index {
  list-style-type: none;
  padding-left: 0;
}

.index li {
  margin-bottom: 15px;

}

.index h5 {
  font-family: $font-decoration;
  // color: #4f4d55;
  // color: #4492D2;
  // color: #029c95;
  color: #364745;
  letter-spacing: 0.3pt;
  text-align: center;
}

.index h5:hover {
  color:$color-dreamy;
}

.card {
  // border: 2px solid red;
  padding: 2px;
}

.comments-num {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}



.show {
  max-width: 790px;
}

.show h3 {
  font-family: $font-decoration;
}

.show .caption {
  font-family: $font-decoration;
}

.show-post {
  padding: 20px 30px 20px 30px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.picture-wrapper {
  text-align: center;
}

.picture-wrapper img {
  border-radius: .25rem;
}

.show .post-manager {
  border-top: 1px solid rgba(0,0,0,.125);
}

.show .post-manager p{
  font-family: $font-decoration;
  text-align: center;
  color: $color-dreamy;
}

.show .post-manager ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.show .post-manager ul li {
  display: inline-block;
}

.form {
  max-width: 490px;
  margin: auto;
}

.form h5 {
  font-family: $font-decoration;
  color: #B4B3B4;
  letter-spacing: 0.3pt;

}

.pictures-form {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

div.card-img-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}
